<div id="contain">
  <div id="headerCase">
    <div class="menu-icon-container">
      <%= link_to 'javascript:history.go(-1);' do %>
      <i id="tree-button" class="menu-icon fa fa-tree"></i>
      <% end %>
    </div>
    <div class="diagonal-container">
      <div class="fat-stripe"></div>
      <div class="thin-stripe"></div>
    </div>
    <div class="inner-Header-Case">
      <h1 class="header-title">Case Study</h1>
      <h1>Orange Amps TH100</h1>
      <h2>Create a custom design + Develop product landing page</h2>
    </div>
  </div>
  <div id="video">
    <video src="img/orange.mp4#t=10" autoplay="true" muted loop class="video"></video>
  </div>
  <div id="mainSection">
    <div class="main-container">
      <h4 class="section-title">Objective</h4>
      <p class="section-text">Build a landing page for <span class="orange">Orange Amplifiers</span> that showcases the launch of their new prodcut the TH100 Guitar Head Amp. The goal was to demonstrate User Experience design knowledge and proper semantic code writing.</p>
      <div class="medium-image-container"><img src="img/th100.png" class="medium-image"></div>
      <div class="section-text-container">
        <h4 class="section-title">Research</h4>
        <p class="section-text">As with any product, the first step was finding out who the audience is for this product. Using notes from the brands official website to gain an understanding of the overall style to implement in the landing page.</p>
      </div>
      <div class="section-text-container">
        <h4 class="section-title">Process</h4>
        <p class="section-text">Create sketches and build a wireframe to allow for rapid development. Use different elements to add a variety of media to the page that showcases the product and engages the user to participate. Add data about the product and use artist testimonials to vouch for the product.</p>
      </div>
      <div class="medium-image-container"> <img src="http://placehold.it/900x600" class="medium-image"></div>
      <div class="section-text-container">
        <h4 class="section-title">Design</h4>
        <p class="section-text">Used colors based off of <span class="orange">Orange Amplifiers</span> products to keep a uniform look to the page. A smoke effect and the logo of the company is the first thing the user sees to illicit a feeling of unveiling a product. A full screen video gives the user excitement to pursue further interest in the product. I placed an audio element in the page to demonstrate the sound of the head amp and the attitude of TH100. Finally, I added some statistical data about the product to show the features and power of the unit relatve to the competition. The artists testimonials adds a nice bonus that relates to the type of music meant to be played with this product. </p>
      </div>
      <div class="swatch-container">
        <div class="swatch white-bg">
          <p class="swatch-text">#ffffff</p>
        </div>
        <div class="swatch orange-bg">
          <p class="swatch-text">#fd7123</p>
        </div>
        <div class="swatch gray-bg">
          <p class="swatch-text">#222222</p>
        </div>
      </div>
      <h4 class="section-title">Conclusion</h4>
      <p class="section-text">After a few sketches and trial & error testing, the final design is one that enriches the user experience and provides a clear description of the product. </p>
      <p class="section-text">The final page accurately displays the culture of <span class="orange">Orange Amplifiers</span> and expresses a certain attitude towards the audience they are trying to cater to.</p><a href="#">
        <div class="button-case">
          <p>View Live</p>
        </div></a>
      <h4 class="section-title">Extra Goodies</h4>
      <div class="medium-image-container"> <img src="http://placehold.it/900x600" class="medium-image"></div>
      <div class="medium-image-container"> <img src="http://placehold.it/900x600" class="medium-image"></div>
    </div>
  </div>
</div>
