<!DOCTYPE html>
<html>
  <head>
    <title>KiloRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="stylesheets/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Abel|Vollkorn|Rubik:300,400,700" rel="stylesheet"><link rel='stylesheet' href='css/case.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
